﻿@model HerkeseIs.Users

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Tables</a></li>
        </ul>

        <div class="container-fluid-full">
            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2>
                            Form Elements
                        </h2>

                    </div>
                    <div class="box-content">

                        <div class="control-group">
                            @Html.LabelFor(m => m.Ad, new { @class = "col-sm-3 control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Ad, new { @class = "input-xlarge focused", placeholder = "Your Help Text" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Soayad, new { @class = "col-sm-3 control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Soayad, new { @class = "input-xlarge focused", placeholder = "Your Help Text" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Yas, new { @class = "col-sm-3 control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Yas, new { @class = "input-xlarge focused", placeholder = "Your Help Text" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.E_Posta, new { @class = "col-sm-3 control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.E_Posta, new { @class = "input-xlarge focused", placeholder = "Your Help Text" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Parola, new { @class = "col-sm-3 control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Parola, new { @class = "input-xlarge focused", placeholder = "Your Help Text" })
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button class="btn">Cancel</button>
                        </div>

                    </div>
                </div><!--/span-->
            </div><!--/row-->
        </div>
    </div>

}
