﻿@model HerkeseIs.Users

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div id="content" class="span10">

        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div class="container-fluid-full">
            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h4>Users</h4>
                    </div>
                    <div class="box-content">
                        <dt>
                            @Html.DisplayNameFor(model => model.Ad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Soayad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Soayad)
                        </dd>

                        <div class="form-actions no-color">
                            @Html.ActionLink("Sil", "DeleteConfirm", new { id = Model.ID })
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </div>
                </div><!--/span-->
            </div><!--/row-->
        </div>
    </div>
}