﻿@model HerkeseIs.Users

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div id="content" class="span10">
        <h2>Edit</h2>

        <div class="container-fluid-full">
            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>

                        <h4>Users</h4>
                    </div>
                    <div class="box-content">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.E_Posta, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.E_Posta)
                                @Html.ValidationMessageFor(model => model.E_Posta)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Parola, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Parola)
                                @Html.ValidationMessageFor(model => model.Parola)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ad)
                                @Html.ValidationMessageFor(model => model.Ad)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Soayad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Soayad)
                                @Html.ValidationMessageFor(model => model.Soayad)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Yas, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Yas)
                                @Html.ValidationMessageFor(model => model.Yas)
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                            @Html.ActionLink("Back to List", "Kisiler")
                        </div>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
        </div>
    </div>

}

<div>
    
</div>
