﻿@model List<Users>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="content" class="span10">


    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Tables</a></li>
    </ul>
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>Kişiler</h2>

            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Sayad</th>
                            <th>Yaş</th>
                            <th>E-Posta</th>
                            <th>Parola</th>

                            <th>Actions</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Ad</td>
                            <td>@item.Soayad</td>
                            <td>@item.Yas</td>
                            <td>@item.E_Posta</td>
                            <td>@item.Parola</td>
                            <td>@Html.ActionLink("Düzenle", "Edit", "User", new { id = item.ID }, null)| @Html.ActionLink("Sil", "Delete", "User", new { id = item.ID }, null)</td>
                        </tr>
                    }

                </table>
            </div>
        </div><!--/span-->

    </div><!--/row-->


</div><!--/.fluid-container-->



