﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Herkeseİş <strong>Hakında</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img alt="" src="~/img/logo.jpg" class="img-responsive img-border-left">
            </div>
            <div class="col-md-6">
                <p>HERKESEIS.NET - Türkiye'de ve Avrupa'da çalışanların işe hizmet vermektedir çevrimiçi ajansı.</p>
                <p>Evet, biz tam bir döngü üzerinde çalışıyoruz. Fikirden dönüşüm saymak için. Pazar analizi belirli bilgi ve deneyime sahip kişileri bulmak için.</p>
                <p>Kolayca aradığınız ya da olan çalışanın bulabilirsiniz sizin uğruna bütün Beğendiğiniz çok işi bulduk. Ve en önemlisi, bizim web hepiniz için her zaman günün herhangi bir saatinde size açıktır.</p>
                <p>Haydi en teklifi ve fırsatlı insanlara bakalım.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Bizim <strong>Takımımız</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img alt="" src="~/img/M1.jpg" class="img-responsive">
                <h3>
                    Mansur Mahmutov
                    <small><p></p>Tasarimci</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img alt="" src="~/img/M2.jpg" class="img-responsive">
                <h3>
                    Mansur Mahmutov
                    <small>Front end & Back end</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img alt="" src="~/img/M3.jpg" class="img-responsive">
                <h3>
                    Mansur Mahmutov
                    <small>Müdür & CEO</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>