﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>İlişki </strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-8">
                <iframe width="100%" scrolling="no" height="400" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d892.4706883941705!2d63.59012659554116!3d39.08032559881393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sru!4v1480037674203;output=embed" marginwidth="0" marginheight="0"></iframe>
            </div>
            <div class="col-md-4">
                <p>
                    Phone: <strong>+905070124188</strong>
                </p>
                <p>
                    Email: <strong>t-x007@mail.ru</strong>
                </p>
                <p>
                    Address: <strong>21/51<br>Merkezi Kiçi Etrapça<br>Turkmenabat, Turkmenıstan 746100</strong>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    İlişki <strong>formu</strong>
                </h2>
                <hr>
                <p>Bizimle çalışmak isterseniz yada bir yardam lazımsa, formu doldurup bize ulaşabirsiniz.</p>
                <form role="form">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>İsim Soisim</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>e-mail adresi</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Telefon Numara</label>
                            <input type="tel" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <label>Mesaje</label>
                            <textarea rows="6" class="form-control"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" value="contact" name="save">
                            <button class="btn btn-default" type="submit">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>