﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="~/img/slide-1.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Daniel Craig</h3>
                                <p>Bizim yardamımzla Ajant 007 filmide çekim yaptı.</p>
                            </div>
                        </div>

                        <div class="item">
                            <img class="img-responsive img-full" src="~/img/slide-2.jpg" alt="">
                            <div class="carousel-caption">
                                <h3> Christian Charles Philip Bale</h3>
                                <p>Bizim yardamımzla Exodus: Gods and Kings filmide çekim yaptı.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/img/slide-8.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Nicolas Cage</h3>
                                <p>Bizim yardamımzla Ghost Rider filmide çekim yaptı.</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Geri</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Ileri</span>
                    </a>
                </div>
                <h1>
                    <small>Hoş Geldınız</small>
                </h1>

                <hr class="tagline-divider">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Hizmetimiz ile <strong>iş bul</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="~/img/logo-mini.jpg" alt="">
                <hr class="visible-xs">
                <p>İşverenlere ve yalnızca işiniz için bir personel veya yardımcılar arayan insanlara sunuyoruz.</p>
                <p>Sitemizde, mühendislerden ve inşaatçılardan çıkan model ve dadılar arasında değişen tüm meslek mensuplarını bulabilirsiniz. Veritabanımızda, iş arayan birçok insan vardır ve size daha iyi bir çalışan bulacağımızdan eminiz.</p>
                <p>Kaynağımız açık ve sade, en azından minimalist geleneklerin hiçbirinde saçmalık değil, kolayca arayan bir çalışanı bulabildiniz.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="container">
                <hr>
                <h2 class="intro-text text-center">
                    Haydi hemen kayit ol veya ilanlara geçip <strong>iş veya eleman bul!</strong>
                </h2>
                <p></p>
                <hr>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("İlanlar", "Index", "Eleman Ilanlari")
                        </li>
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @section scripts
{
        <script>
    $('.carousel').carousel({
        interval: 4000
    })
        </script>
    }
