﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


    
<div id="content" class="span10">

    <div class="container-fluid-full">
        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>

                </div>
                <div class="box-content">
                    <ul>
                    @foreach (var item in Model)
                    {
                        <li>@item.Name - @item.Users.Count</li>
                    }
                    @Html.ActionLink("Yeni Role Ekle", "RoleEkle")
                    </ul>

                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div>
</div>


<