﻿@model HerkeseIs.Areas.Admin.Models.RoleEkleModelcs
@{
    ViewBag.Title = "RoleEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>RoleEkle</h2>



<div id="content" class="span10">

    <div class="container-fluid-full">
        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    
                </div>
                <div class="box-content">
                    @using (Html.BeginForm("RoleEkle", "Role", FormMethod.Post))
                    {
                        @Html.TextAreaFor(m => m.RolAd)
                        <input type="submit" />
                    }

                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div>
</div>