﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Herkeseİş</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/business-casual.css")" rel="stylesheet">
</head>
<body>

    <h5 class="left">Mansur Mahmutov G131210097</h5>
    <h6>@Html.Partial("_LoginPartial")</h6>
    <div class="brand">Herkese iş</div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Gezinmeyi aç / kapat</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Herkeseİş</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                
                <ul class="nav navbar-nav">
                    <li class="active">
                        @Html.ActionLink("Ana Sayfa", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("İlanlar", "Index", "Eleman Ilanlari")
                    </li>
                    
                    <li>
                        @Html.ActionLink("Ilişki", "Contact", "Home")
                    </li>

                    <li>
                        @Html.ActionLink("Hakımızda", "About", "Home")
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Ara</button>
                </form>
            </div>
        </div>
    </nav>


    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Herkezeİş @DateTime.Now.Year</p>

                    <!--Facebook-->
                    <button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i> Facebook</button>
                    <!--Twitter-->
                    <button type="button" class="btn btn-tw"><i class="fa fa-twitter left"></i> Twitter</button>
                    <!--Google +-->
                    <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus left"></i> Google +</button>
                    <!--Linkedin-->
                    <button type="button" class="btn btn-li"><i class="fa fa-linkedin left"></i> Linkedin</button>
                    <!--Instagram-->
                    <button type="button" class="btn btn-ins"><i class="fa fa-instagram left"></i> Instagram</button>
                    <!--Youtube-->
                    <button type="button" class="btn btn-yt"><i class="fa fa-youtube left"></i> Youtube</button>
                    <!--Vkontakte-->
                    <button type="button" class="btn btn-vk"><i class="fa fa-vk left"></i> Vkontakte</button>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    @RenderSection("scripts", false)
</body>
</html>